# Node.js
node_modules/
npm-debug.log
yarn-error.log

# build
dist/
build/

# ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# sistema
.DS_Store
Thumbs.db
